# This workflow will install Bun then run `bun run fmt:check`, `bun run lint` and `bun test`.
# For more information see: https://github.com/oven-sh/setup-bun

name: Bun Test

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

permissions:
    contents: read

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - name: Setup repo
              uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install

            - name: Verify formatting
              run: bun run fmt:check

            - name: Run linter
              run: bun run lint

            - name: Run tests
              run: bun test
